
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Staatliches');

body, html {
  height: auto;
  margin: 0;
  font-family: 'Staatliches';
}

body {
  background: rgb(45,232,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(45,232,255,1) 44%, rgba(35,137,245,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(45,232,255,1) 44%,rgba(35,137,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(45,232,255,1) 44%,rgba(35,137,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2de8ff', endColorstr='#2389f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-repeat: no-repeat;
background-attachment: fixed;
}

@-webkit-keyframes opacity {
    0%   { -webkit-filter: opacity(0); /* Google Chrome & Webkit Nightlies */}

    100% { -webkit-filter: opacity(1); /* Google Chrome & Webkit Nightlies */ }
}

aside {
  color: black;
  display: grid;
  grid-template-columns: auto 40px;
  padding: 1em;

}

img {
  width: 40px;
  cursor: pointer;
}

.img-menu {
  width: 15vw;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-right: 3vh;
  z-index: 1000000;
  background: #FF1953;
  opacity: 0.7;
  border-radius: 100%;
    border-style: solid;
  border-width: 0px ;
  border-color: black;

}

.img-menu-web {
  display: none;
}

figure {
  margin: 0;
}

figcaption {
  display: none;
}

nav {
  background: white;
  }

.active {
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20000;
  text-shadow: -1px 1px white;
  padding-top: 30%;
	-webkit-animation: opacity 2s 1;
}

ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  padding: 1.5em 3em;
  background-color: none;
}


.meni {
  text-align: center;
  font-style: #FF8200;
  font-size: 1.5em;
  font-style: bold;
  height: 100vh;
  }

.meni-gumb {
 padding: 5vh;
  color: #32A5CC;
  font-size: 1.5em;

}

main {
  padding: 0em;
  background-size: 100%;
}

.main-display {
  display: none;
}

.img-main-logo{
  display: none;
}

h1 {
  margin: 0;
}


p {
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-align: justify;
  text-shadow: none;
  background:rgba(255,50,100,0); /* FF3.6-15 */
  border-radius: 5px;
  border-style: solid;
  border-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
}

 .band-description {
  	max-width: 100%;
    grid-gap: 15px;
    background-color: none;
    padding: 0px;
    padding-bottom: 2em;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  min-width: 13em;
  background: black;
z-index: 10001;
}

.noga {
  width: 100%;
}

.noga-item-box {
  text-decoration: none;
  text-transform: none;
  font-size: 0.5vh;
  padding: 0em;
  background-color: none;
  display: inline-flex;
  margin: 0;
  z-index: 30000;
}

.band-header{
  margin-bottom: 1em;
}

.photo{
  display: block;
  text-align: center;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 50%;
  z-index: 1000;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  display: block;
}

.noga-slike {
  display: inline-block;
  width: 10em;
  z-index: 30000;
  background-color: none;
  -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
 }

.main-logo-head {
  display: none;
}

div.fotka-clana {
padding-top: 2em;
  width: 80%;
margin-left: auto;
margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
position: relative;
border-radius: 7px;
margin-bottom: 2em;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0px;

}

div.container {
  text-align: center;
  padding: 1px 20px;

}

h3 {
  display: none;
}

h4 {
  display: none;
}

h5{
	margin-top: 0;
	margin-bottom: 0;
}


@media only screen and (min-width: 769px) {

  body {
    display: grid;
    grid-template-columns: minmax(min-content, 300px) auto;
    padding: 0;
    width: 100%;
  }

  nav {
    background: none;
    position: fixed;
    margin-top: 11em;
    height: 100%;
  }

  figcaption {
	display: none;
    }

  .img-menu-web{
  	display: block;
    padding-left: 2em;
    text-align: center;
    padding-top: 0;
    font-style: black;
    margin-top: 1em;
	position: fixed ;
	width: 14em;
	-webkit-filter: invert(1);
	filter: invert(1);
	cursor: initial;
	}


  .img-menu {
    display: none;
  }

  aside{
    background: rgba(255, 255, 255, 0.15);
    padding: 0;
    min-height: 100px;
    margin-bottom: 0;
    max-width: 300px;
	-webkit-transition: background 0.8s; /* For Safari 3.1 to 6.0 */
    transition: background 0.8s;
    height: 100vh;
  }

  aside:hover{
    background: rgba(255,250,75, 0.95);
		}

  .main-display {
    display: block;
    margin-left: 5em;
    float: center;
    position: fixed;
    background: none;
  }

  .img-main-logo {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin: 0;
    text-align: center;
    cursor: default;
  }

  #avatar {
    background: none;
    margin: 0;
  }

  ul {
    display: block;
    position: relative !important;
    background: none !important;
    width: 100% !important;
    margin-top: 0;
  }

  .noga-slike {
    width: 8em;
    margin: 0;
    background-color: none;
    float: left;
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
    }

  .noga-slike:hover{
    -webkit-filter: invert(0%); /* Safari 6.0 - 9.0 */
    filter: invert(0%);
  }

  footer {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    width: minmax(min-content, 300px);
	  -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background 0.5s;
  }

  footer:hover{
	background: #44E863;

  }

  .noga-item-box {
    float: left;
    background: none;
    padding: 0em;
    margin-left: 7em;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 4px;
	 }

  .meni {
    font-style: #FF1953;
    font-size: 1.8em;
    font-style: bold;
    max-height: 100%;
    margin-top: 0;
  }

  .meni-gumb {
    padding: 25px;
    padding-left: 75px;
    color: black;
    width: 200px;
    text-shadow: -1px 1px white;
	font-size: 0.8em;
  text-align: left;
  }

  .meni-gumb:hover{
    color: #3eceff;
    background: white;
    text-shadow: none;
    transition: 0.35s;
  }

  .main-logo-head {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 80%;
    display: grid;
    align-content: right;
    margin: auto;
  }

  .img-main-logo {
    display: none;
  }

  ul li a .noga-slike {
    font-size: none;
    display: none;
    padding: 4.5em 1.5em;
    background-color: none;
    float: left;
  }

  .photo{
    display: block;
    text-align: center;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .8s ease;
    width: 10vw;
	border-style: none;
  }

  .photo:hover {
    filter: none;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.fotka-clana {
    padding-top: 0em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 0;
    margin-bottom: 0em;
    background: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
    text-align: center;
    height: 50%;
    transition: 0.3s;
  	border-style: none;
    }

  div.container {
    text-align: center;
    padding: 0px 0px;
    position: fixed;
    background: rgb(77,235,255);
    overflow: hidden;
    width: 300px;
    height: 0;
    color: white;
    }

  h2{
    text-shadow: -1px 1px black;
    margin-top: 1.5em;
    padding-top: 1em;
    padding-bottom:1em;
    background-color: rgba(0,0,0,0.1);
  }

  h5{
  	display: none;
  }

  p {
  	display: block;
    height: 70%;
  	color: black;
    padding: 15px;
    margin-top: 2em;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: -1px 1px white;
    text-align: left;
    font-size: 20px;
    background-color: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,250,75,0.01) 1%, rgba(255,250,75,1) 82%, rgba(255,250,75,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,250,75,0.01) 1%,rgba(255,250,75,1) 82%,rgba(255,250,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,250,75,0.01) 1%,rgba(255,250,75,1) 82%,rgba(255,250,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#fffa4b',GradientType=0 ); /* IE6-9 */
  }

  .fotka-clana:hover .container {
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 10000;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: 0.8s;
  }

  .band-description {
  	display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: 100%;
    grid-gap: 15px;
    background-color: none;
    padding: 15px;
    padding-top: 2em;

  }

  .active {
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }

  h3 {
    display: block;
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,250,75,0) 50%, rgba(255,250,75,1) 51%, rgba(255,250,75,1) 84%, rgba(255,250,75,0) 86%, rgba(255,250,75,0) 88%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,250,75,0) 50%,rgba(255,250,75,1) 51%,rgba(255,250,75,1) 84%,rgba(255,250,75,0) 86%,rgba(255,250,75,0) 88%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,250,75,0) 50%,rgba(255,250,75,1) 51%,rgba(255,250,75,1) 84%,rgba(255,250,75,0) 86%,rgba(255,250,75,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#00fffa4b',GradientType=0 ); /* IE6-9 */
	border-radius: 100%;
	}

  h4 {
    display: block;
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 84%, rgba(255,255,255,0) 86%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 84%,rgba(255,255,255,0) 86%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 84%,rgba(255,255,255,0) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  border-radius: 0;

  }
